{% load bootstrap5 %}
<!DOCTYPE html>
<html>
<head>
    <title>Brewery Map</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <script src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&callback=initMap" async defer></script>
</head>
<body>
    {% block bootstrap5_content %}


       
    <div id="map" style="height: 400px;"></div>

    <div class="custom-marker">
        <title>West Town Pub Crawl Rex"</title>
        <h1>Sam and Elisa's favorite spots within walking distance.</h1>
        <h3>Allow us to be your Guide</h3>
        {% for brewery in breweries %}
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ brewery.title }}</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">An item</li>
              <li class="list-group-item">A second item</li>
              <li class="list-group-item">A third item</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        <p> {{ brewery.title }} </p>
        {% endfor %}
    {% endblock %}
    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 41.884110, lng: -87.671667 }, // Kaiser Tiger 
                zoom: 77
            });

            // Markers for Breweries
            var breweries = [
                {% for brewery in breweries %}
                {
                    position: { lat: 41.8781, lng: -87.6298 },
                    title: "junk data",
                    address: "junk data",
                    currentHours: "brewery.current_hours",
                    fullHours: "brewery.full_hours"
                },
                {
                    position: { lat: 41.9445, lng: -87.6554  },
                    title: "junk data",
                    address: "junk data",
                    currentHours: "brewery.current_hours",
                    fullHours: "brewery.full_hours"
                },

                {% comment %} {
                    {% comment %} position: { lat: {{ brewery.latitude }}, lng: {{ brewery.longitude }} },
                    title: "{{ brewery.name }}",
                    address: "{{ brewery.address }}",
                    currentHours: "{{ brewery.current_hours }}",
                    fullHours: "{{ brewery.full_hours }}"
                }, {% endcomment %}
                {% endfor %}
            ];

            breweries.forEach(function (brewery) {
                var marker = new google.maps.Marker({
                    position: brewery.position,
                    map: map,
                    title: brewery.title
                });

                var contentString =
                    '<div>' +
                    '<h2>' + brewery.title + '</h2>' +
                    '<p><strong>Address:</strong> <a href="https://www.google.com/maps?q=' + encodeURIComponent(brewery.address) + '" target="_blank">' + brewery.address + '</a></p>' +
                    '<p><strong>Current Hours:</strong> ' + brewery.currentHours + '</p>' +
                    '<p><strong>Full Hours:</strong> ' + brewery.fullHours + '</p>' +
                    '</div>';

                var infowindow = new google.maps.InfoWindow({
                    content: contentString
                });

                marker.addListener('click', function () {
                    infowindow.open(map, marker);
                });
            });
        }
    </script>
</body>
</html>
