{% load bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Brewery Map</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'brewery_map/styles.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'brewery_map/styles.css' %}">

    <script src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_API_KEY}}&callback=initMap" async defer></script>
</head>
<body>
    {% block bootstrap5_content %}
 {% comment %} <div id="map" style="height: 400px;"></div> {% endcomment %}
    {% comment %} <div class="custom-marker"> {% endcomment %}
<div class="container-fluid title">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
        <pre>
██╗    ██╗███████╗███████╗████████╗    ██╗      ██████╗  ██████╗ ██████╗     ██████╗ ███████╗██╗  ██╗
██║    ██║██╔════╝██╔════╝╚══██╔══╝    ██║     ██╔═══██╗██╔═══██╗██╔══██╗    ██╔══██╗██╔════╝╚██╗██╔╝
██║ █╗ ██║█████╗  ███████╗   ██║       ██║     ██║   ██║██║   ██║██████╔╝    ██████╔╝█████╗   ╚███╔╝ 
██║███╗██║██╔══╝  ╚════██║   ██║       ██║     ██║   ██║██║   ██║██╔═══╝     ██╔══██╗██╔══╝   ██╔██╗ 
╚███╔███╔╝███████╗███████║   ██║       ███████╗╚██████╔╝╚██████╔╝██║         ██║  ██║███████╗██╔╝ ██╗
 ╚══╝╚══╝ ╚══════╝╚══════╝   ╚═╝       ╚══════╝ ╚═════╝  ╚═════╝ ╚═╝         ╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝
        </pre>
    </div>
    </div>
    <div class="row justify-content-center">
        <h4>Sam and Elisa's favorite spots within walking distance.</h4>
    </div>
</div>

 <div class="container-fluid">	
    <div class="row justify-content-center">
        <div class="col-md-6 mx-auto">
        {% for brewery in breweries %}
        <div class="card" style="width: 500px; margin:15px auto;">
            {% comment %} <img src="..." class="card-img-top" alt="..."> {% endcomment %}
            <div class="card-body">
              <h3 class="card-title"> {{ brewery.name }}</h3>
              <h5 class="card-title"> {{ brewery.neighborhood }}</h5>
              <p class="card-text">{{ brewery.address }}</p>
              <p class="card-text">{{ brewery.category }}
                {% if brewery.subcategory != 'N/A' %}
                  ||  {{brewery.subcategory }}
                {% endif %} 
            </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Known For: {{ brewery.knownfor }}</li>
              <li class="list-group-item">Sam Rating: {{ brewery.s_rating }}</li>
              <li class="list-group-item">Elisa Rating: {{ brewery.e_rating}}</li>
              <li class="list-group-item">Patio: 
                {% if brewery.patio == True %}
                    Yes
                {% else %}
                    No 
                {% endif %}
                </li>
            </ul>
            <div class="card-body" style="display: flex; justify-content: space-around;">
              <a href="{{ brewery.yelp }}" class="card-link" target="_blank">Read Yelp Reviews</a>
              <a href="{% url 'get_directions' brewery.address %}" target="_blank">Get Directions</a>
            </div>
          </div>
        {% endfor %}
    {% endblock %}
        </div>
    </div>
</div>

    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 41.884110, lng: -87.671667 }, // Kaiser Tiger 
                zoom: 77
            });

            // Markers for Breweries
            var breweries = [
                {% for brewery in breweries %}
                {
                    name: {{ brewery.name }},
                    address: {{ brewery.address }},

                },
                    title: "junk data",
                    address: "junk data",
                    currentHours: "brewery.current_hours",
                    fullHours: "brewery.full_hours"
                },

                {% endfor %}
            ];

            breweries.forEach(function (brewery) {
                var marker = new google.maps.Marker({
                    position: brewery.position,
                    map: map,
                    title: brewery.title
                });

                var contentString =
                    '<div>' +
                    '<h2>' + brewery.title + '</h2>' +
                    '<p><strong>Address:</strong> <a href="https://www.google.com/maps?q=' + encodeURIComponent(brewery.address) + '" target="_blank">' + brewery.address + '</a></p>' +
                    '<p><strong>Current Hours:</strong> ' + brewery.currentHours + '</p>' +
                    '<p><strong>Full Hours:</strong> ' + brewery.fullHours + '</p>' +
                    '</div>';

                var infowindow = new google.maps.InfoWindow({
                    content: contentString
                });

                marker.addListener('click', function () {
                    infowindow.open(map, marker);
                });
            });
        }
    </script>
</body>
</html>
