
body {
    background-image: url('/static/lofi-background.jpeg'); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    padding: 10px;
}

.title {
    color: white;
    font-weight: bold;
}

.main-title {
    margin-top: 20px;
}



