
body {
    background-image: url('/static/lofi-background.jpeg'); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    padding: 10px;
    grid-template-rows: minmax(2.5rem, 12vmin) 1fr 5rem;
}
pre {
    font-size: max(0.5rem, 1vmin);
   }

/* Hide title art initially */
.ascii-art {
    padding-top: 2rem;
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.title {
    color: white;
    font-weight: bold;
    text-align: center;
}

.art-title {
    text-align: center;
    color: white;
    font-weight: bolder;
}

.main-title {
    margin-top: 20px;
}

.card-container {
    margin-top: 20px;
}

.card {
    border: 2px solid #333; 
    border-radius: 10px; 
    margin: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    background-color: #fff; 
    margin: 10px auto;
}

.card:hover {
    transform: translateY(-5px); /* Lift card slightly on hover */
    transition: transform 0.2s ease-in-out;
}





