
body {
    background-image: url('/static/lofi-background.jpeg'); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    padding: 10px;
    grid-template-rows: minmax(2.5rem, 12vmin) 1fr 5rem;
}
pre {
    font-size: max(0.2rem, 1vmin);
   }

.title {
    color: white;
    font-weight: bold;
    text-align: center;
}

.art-title {
    text-align: center;
    color: white;
    font-weight: bolder;
}

.main-title {
    margin-top: 20px;

}





